{% extends 'base.html' %}
<link rel="stylesheet" href="static/CSS/main.css">

{% block head %}
<title>Home</title>
{% endblock %}

{% block body %}
<br>
<h1>Home Page</h1>
<br>
<main role="main">
    <div class="jumbotron">
        <div class="col-sm-8 mx-auto">
            <h1>Welcome</h1>
            <p>Welcome Kandula Rugender  Blog! Here we'll be talking about everything about life , behaviour skills , motivational words </p>
            <p>visit our website <a href="https://www.linkedin.com/in/rugender-kandula-b9326b1a7">rugender.com</a></p>
            <p>
                <a class="btn btn-primary" href="/posts" role="button">Go To Posts &raquo;</a>
            </p>
        </div>
    </div>
</main>
{% endblock %}